<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div id="header">
    <h1></h1>
  <br>
    <img src="assets/icon/logoBM.png">

  </div>

  <form id="form">
    
    <app-input placeholder="Usuario" required ></app-input>   
    <app-input type="password" placeholder="Contraseña" required></app-input>
    <ion-button color="primary"  shape="round" expand="block" routerLink ="/inicio">
      INICIAR SESIÓN
    </ion-button>
  </form>

</ion-content>


